---
layout: layouts/workspace.njk
---
<article class="document">
  <div class="document-header">
    <p class="document-eyebrow">{{ workspace.projectLabel }}</p>
  </div>
  <div class="document-body">
    {{ content | safe }}
  </div>
</article>
